.react-native-section{
    margin-bottom: 50px;
    h2{
        text-align: center;
        font-size: 38px;
        line-height: 54px;
        font-family: $font-sourceSansPro-black;
        padding: 0 15px;
        margin-bottom: 10px;
    }
    pre{
        text-align: center;
        font-size: 18px;
        font-family: $font-sourceSansPro-regular;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    img{
        width: 100%;
    }
}
.steps-solutions{
    padding: 0 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    h2{
        text-align: center;
        font-size: 38px;
        line-height: 54px;
        font-family: $font-sourceSansPro-black;
        margin-bottom: 10px;
    }
    pre{
        text-align: center;
        font-family: $font-sourceSansPro-regular;
        font-size: 18px;
    }
    .steps-box{
        border: 1px solid #294DFF;
        padding: 30px 40px;
        margin-bottom: 20px;
        @media screen and (max-width:992px){
            margin-bottom: 15px;
        }
        h6{
            margin-bottom: 10px;
            margin-top: 20px;
            font-family: $font-sourceSansPro-bold;
            font-size: 18px;
            line-height: 25px;
        }
        span {
            background: #294dff;
            color: #ffffff;
            padding: 0 8px;
            border-radius: 50%;
            display: flex;
            width: 26px;
            height: 26px;
            align-items: center;
            justify-content: center;
            &::after {
                content: "";
                background: #294dff4d;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                position: absolute;
                animation: fest 1s ease-in alternate infinite;
            }
            &::before {
                content: "";
                background: #294dff1f;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: absolute;
                animation: fest 1s ease-in alternate infinite;
                transition-duration: 3ms;
            }
        }
        pre{
            font-family: $font-sourceSansPro-regular;
            font-size: 16px;
            line-height: 25px;
            text-align: left;
            margin-bottom: 0;
        }
    }
    .solutions-wrapper{
        margin-top:30px;
        margin-bottom: 50px;
    }
    pre{
        margin-bottom: 40px;
    }
    .new-apps-box{
        border: 1px solid #70707033;
        padding: 25px;
        pre{
            text-align: left;
            margin-bottom: 0;
            font-size: 16px;
            font-family: $font-sourceSansPro-regular;
            line-height: 22px;
        }
        h3{
            font-size: 24px;
            line-height: 35px;
            font-family: $font-sourceSansPro-bold;
            margin-bottom: 15px;
        }
        img{
            max-width: 20px;
            max-height: 20px;
            object-fit: cover;
            margin-bottom: 15px;
        }
    }
}
.page-bottom-content{
    margin-top: 50px;
    h2{
        text-align: left;
        font-size: 38px;
        line-height: 54px;
        font-family: $font-sourceSansPro-black;
    }
    pre{
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        font-family: $font-sourceSansPro-regular;
    }
}
