.reference-wrapper {
    padding: 80px 0;

    @media (max-width: 1024px) {
        padding: 40px 0;
    }

    h3 {
        font-size: 26px;
        line-height: 40px;
        font-family: $font-sourceSansPro-semibold;
        margin-bottom: 0px;
        color: $white;

        @media (max-width: 992px) {
            font-size: 18px;
            line-height: 23px;
        }
    }

    a {
        font-size: 14px;
        line-height: 30px;
        font-family: $font-sourceSansPro-semibold;
        color: $light-blue;

        @media (max-width: 992px) {
            font-size: 10px;
        }
    }

    img {
        width: calc(100% + 70%);
        height: 230px;
        object-fit: contain;
        object-position: center center;
        margin-top: 20px;

        @media (max-width: 1024px) {
            height: 110px;
        }
    }

    .reference-item {
        background-color: $black;
        padding: 30px 0 30px 30px;
        height: calc(100% - 24px);
        margin-bottom: 24px;
        overflow: hidden;

        @media (max-width: 1024px) {
            padding: 16px 0 16px 16px;
        }

        pre {
            font-size: 14px;
            line-height: 22px;
            font-family: $font-sourceSansPro-semibold;
            background-color: #3e3e3e;
            color: $white;
            display: inline-block;
            padding: 4px 30px;
            margin: 0 0 12px -30px;

            @media (max-width: 1024px) {
                margin: 0 0 25px -16px;
                padding: 4px 46px 4px 16px;
                font-size: 10px;
                line-height: 11px;
            }
        }
    }
}

.reference-single-wrapper {
    background-color: $black;

    @media (min-width: 1024px) {
        padding: 80px 0 80px 14%;
        display: flex;
        align-items: center;
    }

    @media (min-width: 1536px) {
        height: 73vh;
    }

    h1 {
        font-size: 48px;
        line-height: 60px;
        color: $white;
        font-family: $font-sourceSansPro-semibold;
        margin-bottom: 16px;

        @media (max-width: 1024px) {
            font-size: 36px;
            line-height: 45px;
            margin-bottom: 24px;
        }
    }

    pre {
        font-size: 18px;
        line-height: 30px;
        color: $white;
        font-family: $font-sourceSansPro-semibold;
        margin-bottom: 40px;
    }

    h5 {
        font-size: 24px;
        line-height: 31px;
        color: $white;
        font-family: $font-sourceSansPro-semibold;
        margin-bottom: 16px;
    }

    .technology {
        color: $black;
        background-color: #c1ff50;
        padding: 0 30px;
        display: inline-block;
    }

    img {
        height: 550px;
        width: 100%;
        object-fit: contain;
        object-position: center center;
        left: 30%;
        position: relative;

        @media (max-width: 1024px) {
            height: 275px;
            margin-bottom: 42px;
        }
    }

    @media (max-width: 1024px) {
        .row {
            margin: 0;

            > div {
                &:nth-child(1) {
                    order: 2;
                }
                &:nth-child(2) {
                    order: 1;
                }
            }
        }

        .btn-white {
            width: auto;
            margin-bottom: 40px;
        }
    }
}
