.single-blog-container {
    padding-top: 80px;
    background-color: $light-gray;
    @media (max-width: 993px) {
        padding-top: 40px;
    }

    h2 {
        font-size: 24px;
        line-height: 31px;
        color: $black;
        margin-bottom: 16px;
        font-family: $font-sourceSansPro-black;
    }

    h3 {
        font-size: 24px;
        line-height: 31px;
        font-family: $font-sourceSansPro-bold;
        margin-bottom: 16px;
    }

    p,
    pre {
        font-size: 18px;
        line-height: 30px;
        font-family: $font-sourceSansPro-regular;
        letter-spacing: 0.43px;
        margin-bottom: 40px;
        white-space: break-spaces;

        &.semiBold {
            font-family: $font-sourceSansPro-semibold;
        }

        code {
            font-size: 0.875em;
            color: #d63384;
        }
    }

    img {
        width: 100%;
        height: 367px;
        object-fit: cover;
        object-position: center center;
        margin-bottom: 40px;
        display: inline-block;
        @media (max-width: 993px) {
            height: 258px;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            height: auto;
        }
        @media (min-width: 1199px) and (max-width: 1399px) {
            height: auto;
        }
    }

    .double-imageblogs {
        display: flex;
        justify-content: space-between;

        img {
            width: calc(50% - 12px);
            @media (max-width: 499px) {
                height: 125px;
            }
        }
    }

    .related-box-wrapper {
        border: 1px solid transparent;
        padding: 16px;
        background-color: $white;
        @media (min-width: 993px) and(max-width:1399px) {
            display: grid;
            grid-template-columns: repeat(2, auto);
        }
        @media (max-width: 993px) {
            background: none;
            padding: 0;
        }
        .related-blogs {
            display: flex;
            margin-bottom: 24px;
            @media (max-width: 993px) {
                margin-bottom: 0;
                margin: 8px 0;
                padding: 8px;
                background: white;
            }

            &:last-child {
                margin-bottom: 0;
            }
            @media (min-width: 993px) and(max-width:1399px) {
                &:last-child {
                    margin-bottom: 24px;
                }
            }

            img {
                width: 88px;
                height: 100%;
                object-position: center center;
                object-fit: cover;
                margin: 0;
                @media (max-width: 993px) {
                    width: 109px;
                }
                @media (min-width: 994px) and (max-width: 1399px) {
                    width: 148px;
                }
            }
            .related-blogs-content {
                @media (min-width: 994px) and (max-width: 1399px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            h3 {
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 12px;
                font-family: $font-sourceSansPro-black;
                @media (max-width: 993px) {
                    margin-bottom: 23px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .related-blogs-content {
                margin-left: 15px;
            }
            .related-blogs-client {
                display: flex;
                align-items: center;
                img {
                    width: 31px;
                    height: 31px;
                    border-radius: 50%;
                    margin-right: 8px;
                    object-fit: cover;
                    object-position: center center;
                }
                pre {
                    font-size: 10px;
                    line-height: 15px;
                    font-family: $font-sourceSansPro-bold;
                    margin-bottom: 0;
                    @media (max-width: 993px) {
                        font-size: 12px;
                    }

                    span {
                        font-family: $font-sourceSansPro-regular;
                    }
                }
            }
        }
    }
    .social-media-blog {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0;
        @media (max-width: 992px) {
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 24px;
        }
        h3 {
            font-size: 32px;
            font-family: $font-sourceSansPro-black;
        }
        a {
            font-size: 16px;
            font-family: $font-sourceSansPro-bold;
        }
    }
}

.single-blog {
    @media (max-width: 1199px) {
        .row {
            flex-direction: column-reverse;
        }
    }
}
