// Colors
$white: #ffffff;
$black: #000000;

$light-gray: #f8f9fc;
$gray: #cbcbcb;
$dark-gray: #00000091;
$light-blue: #6392ff;
$blue: #004dff;
$green: #00cc00;
$green-neon: #c1ff50;

// Fonts
$font-poppins-regular: "poppinsregular";
$font-poppins-semibold: "poppinssemibold";
$font-poppins-bold: "poppinsbold";

$font-sourceSansPro-semibold: "source_sans_pro_semibold";
$font-sourceSansPro-italic: "source_sans_pro_italic";
$font-sourceSansPro-light: "source_sans_pro_light";
$font-sourceSansPro-light-italic: "source_sans_pro_light_italic";
$font-sourceSansPro-regular: "source_sans_pro_regular";
$font-sourceSansPro-semibold-italic: "source_sans_pro_SBIt";
$font-sourceSansPro-black: "source_sans_pro_black";
$font-sourceSansPro-black-italic: "source_sans_pro_black_italic";
$font-sourceSansPro-bold: "source_sans_pro_bold";
$font-sourceSansPro-bold-italic: "source_sans_pro_bold_italic";
$font-sourceSansPro-extralight: "source_sans_pro_extralight";
$font-sourceSansPro-extralight-italic: "source_sans_pro_XLtIt";
